services:
  api:
    build: .
    ports:
      - '4000:4000'
    env_file:
      - .env
    depends_on:
      - postgres
    command: /bin/sh -c "npx prisma migrate deploy && node dist/server.js"
    volumes:
      - uploads:/app/src/uploads

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: blurt
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  uploads:
