# fly.toml app configuration file generated for blurt-api on 2026-01-14T14:40:16Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'blurt-api'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '2gb'
  cpus = 1
  memory_mb = 2048
